::-webkit-scrollbar { 
    display: none; 
}

body {background: black;}

.section {
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat;
    width: 25% !important;
}

.section-one {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/livestream.jpg");
    position: relative;
    background-size: 100% 100%;
}

.section-two {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/servers.png");
    position: relative;
}

.section-three {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/nwb-neurophysiology.jpg");
    position: relative;
    background-size: 100% 100%;

}

.section-four {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/drone-1245980_1920.jpg");
    position: relative;
}

.main-text {
    color: white;
    font-size: 2em;
    position: relative;
    top: 90%;
    right: 30%;
    left: 10%;
    z-index: 1000;
    padding-right: 25vw;
}


nav {
    background: rgba(204, 204, 204, 0) !important;
    color: white !important;
    z-index: 10;
    /* position: absolute !important; */
    width: 100%;
}


.nav-link, .navbar-brand {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
}
.nav-link:hover, .navbar-brand:hover {
    color: white;
    text-decoration: none;
}

.navbar-brand {
    margin-left: 100px;
    margin-right: 100px !important;
    font-size: 1.5em !important;
    font-weight: bold;
}

.fa-angle-down {
    position: absolute;
    bottom: -40px;
    
    margin-left: auto;
    margin-right: auto;
    left: 45%;
    right: 0;
    color: white;
    font-size: 200px;
    opacity: 0.5;
}